// build:js js/vendor.min.js
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bxslider-4/dist/jquery.bxslider.js')
// endbower
// endbuild
// build:js js/main.min.js
script(src='js/main.js')
// endbuild
