.footer
	.container
		.footer__row
			.footer__logo
				img.footer__logo_img(src="img/logo-white.png" alt="logo")
				span.footer__logo_text Abble Shop
			.footer-nav
				.footer-nav__menu
					h3.footer-nav__title О магазине
					ul.footer-nav__list
						each item in ['О нас','Гарантия','Доставка','Акции']
							li.footer-nav__item
								a.footer-nav__link(href="#")= item

				.footer-nav__menu
					h3.footer-nav__title Каталог
					ul.footer-nav__list
						each item in menu
							li.footer-nav__item
								a.footer-nav__link(href="#")= item

				.footer-nav__menu
					h3.footer-nav__title Контакты
					ul.footer-nav__list
						each item in ['Телефоны','Адреса','Карта проезда','Обратная связь']
							li.footer-nav__item
								a.footer-nav__link(href="#")= item

			.footer__socials
				.footer__apps
					a.footer__apps-link(href="#")
						img.footer__apps-img(src="img/i-googleplay.png", alt="google play")
					a.footer__apps-link(href="#")
						img.footer__apps-img(src="img/i-appstore.png", alt="appstore")
				+social
