head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title Tim Arbaev Shop
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	// favicons
	link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
	link(rel='icon', href='/favicon.ico', type='image/x-icon')
	// CSS styles
	<!-- build:css css/vendor.min.css -->
	// bower:css
	link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
	// endbower
	<!-- endbuild -->
	<!-- build:css css/styles.min.css -->
	link(rel='stylesheet', href='css/fonts.css')
	link(rel='stylesheet', href='css/main.css')
	<!-- endbuild -->
