.header
	.header-container
		.header__logo
			a.header__logo-link(href="#" title="Abble Shop")
				span.header__logo-text Abble Shop
				img.header__logo-img(alt="")

		.header__search

		ul.header__links
			li.header__links-item: a.header__links-link(href="#" title="") Карта проезда
			li.header__links-item: a.header__links-link(href="#" title="") История заказов

		.header__basket
			a.header__basket-link(href="#" title="") Корзина

