mixin social
	ul.social&attributes(attributes)
		li.social__item: a.social__link.social__link_vk(href="#VK" title="VK") VK
		li.social__item: a.social__link.social__link_fb(href="#FB" title="FB") FB
		li.social__item: a.social__link.social__link_tw(href="#TW" title="TW") TW
