// topheader start
.topheader.cf
	.topheader-wrap
		//- блок кнопок соцсетей с уменьшением
		+social(class="social_scale")

		.addr-wrap
			span.addr
				block addr
					| #{address}

		.phone
			span.phone__kod +7 (921)
			span.phone__num 321-12-12
// topheader end
