// topheader start
.header-top
	.container
		.header__socials
			//- блок кнопок соцсетей с уменьшением
			+social(class="social_scale")

		span.addr__text
			block addr
				| #{address}

		.header-top__phone
			a.phone__link(href="tel:+79213211212")
				span.phone__kod +7 (921)
				span.phone__num 321-12-12
// topheader end