.top-header.cf
	.top-header-wrap
		// кнопки соцсетей start
		+social(class="social_scale")
		// кнопки соцсетей end

		span.addr kjhkjhkjh #{address}

		//- .phone
		//- 	span.phone_kod +7 (921)
		//- 	span.phone_num &nbsp;321-12-12