// top-header start
.top-header.cf
	.top-header-wrap
		//- блок кнопок соцсетей с уменьшением
		+social(class="social_scale")

		span.addr
			block addr
				| #{address}

		.phone
			span.phone_kod +7 (921)
			span.phone_num &nbsp;321-12-12
// top-header end
