// footer styles start

/*прибитый футер */
.wrapper {
	position: relative;
	height: auto;
	min-height: 100%;
	min-width: 1010px;
	&:after {
		content: "";
		height: $footer-height;
		display: block;
	}
}

.footer {
	background: $bg_footer url(../img/footer-bg.png) repeat;
	height: $footer-height;
	margin-top: -$footer-height;
	min-width: 1000px;
	position: relative;
	clear: both;
	color: $c_header;
	font-size: 0.8em;
}
/*прибитый футер end */

.footer__row {
	@extend %clearfix;
	padding-top: 30px;
}

.footer__logo {
	float: left;
	width: 240px;
}

.footer__logo_img {
	padding-top: 40px;
}

.footer__logo_text {
	text-indent: -9999px;
	font-size: 0;
}

.footer-nav {
	@extend %clearfix;
	float: left;
	width: 520px;
}

.footer-nav__menu {
	display: inline-block;
	;
	width: 30%;
	vertical-align: top;
	padding-right: 10px;
}

.footer-nav__title {
	font-weight: bold;
	margin: 0;
	padding-bottom: 5px;
}

.footer-nav__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

.footer-nav__item {
	padding-bottom: 5px;
}

.footer-nav__link {
	color: $c_header;
	text-decoration: underline;
}

.footer__socials {
	float: right;
	width: 240px;
}

.footer__apps-link {
	display: block;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}

.footer__apps {
	padding-left: 3px;
	display: inline-block;
}

// footer styles end
