// высота блока меню
$m_height: 40px;
// ширина картинки-стрелочки
$m_width: 15px;

.menu {
	background: $bg_nav;
}

.menu__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.menu__link {
	color: $c_text;
	text-decoration: none;
	line-height: $m_height;
	display: inline-block;
	padding: 0 8px;

	&:hover {
		background: $m_hover;
		&:before {
		background: url(/img/menuarrow-hover-end.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
		left: -10px;
		}
		&:after {
		background: url(/img/menuarrow-hover-start.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
		right: -3px;
		}
	}
}

.menu__item {
	display: table-cell;
	padding-right: 10px;
	padding-left: 5px;
	position: relative;

	&:after {
		background: url(/img/menuarrow.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
	}

	&:first-child:before {
		background: url(/img/menuarrow.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
		left: -10px;
	}
}
.current {
	background: $c_active;
	color: $c_header;
	&:before,
	&:hover:before {
		background: url(/img/menuarrow-current-end.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
		left: -10px;
		}
	&:after,
	&:hover:after {
		background: url(/img/menuarrow-current-start.png) no-repeat;
		content: "";
		height: $m_height;
		width: $m_width;
		position: absolute;
		top: 0;
		right: -3px;
		}
	&:hover {
			background: $c_active;
		}
	}


// ---------------------

.mainmenu {
	background: $bg_nav;
}

.mainmenu__list {
	list-style-type: none;
	padding: 0;
}
.mainmenu__item {
	display: table-cell;
	&:after {
		background: url(/img/menuarrow.png) no-repeat;
		content: "";
		float: right;
		display: block;
		height: $m_height;
		width: $m_width;
	}
	&:before {
		content: "";
		float: left;
		display: block;
		height: $m_height;
		width: $m_width;
		margin-left: -15px;
		padding-left: 4px;
	}
	&:first-child:before {
		background: url(/img/menuarrow.png) no-repeat;
		content: "";
		float: left;
		margin-left: 0;
		display: block;
		height: $m_height;
		width: $m_width;
	}

	&:hover {
		background: $m_hover;
		&:after {
		background: url(/img/menuarrow-hover-start.png) no-repeat;
		z-index: 12;
		}
		&:before {
		background: url(/img/menuarrow-hover-end.png) no-repeat;
		}
	}
}

.mainmenu__link {
	color: $c_text;
	text-decoration: none;
	line-height: $m_height;
	display: inline-block;
	padding: 0 8px;
}

// current styles
.mainmenu__item.current
{
	background: $c_active;
		&:after {
		background: url(/img/menuarrow-current-start.png) no-repeat;
		z-index: 10;
		}
		&:before {
		background: url(/img/menuarrow-current-end.png) no-repeat;
		z-index: 5;
		}
}
.mainmenu__item.current .mainmenu__link
{
	color: $c_header;
}


// main menu, navigation styles start

// высота блока меню
$m_height: 40px;

.navigation {
	background: $bg_nav;
}

.navigation__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.navigation__link {
	padding: 10px 0;
	color: $c_text;
	text-decoration: none;
	line-height: $m_height;
}

.navigation__item {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	padding: 0 20px 0 40px;
	position: relative;
	transition: all 0.3s;
}

// для первого элемента можно уменьшить левый паддинг, т.к. у него нет стрелки
.navigation__item:first-child {
	padding-left: 20px;
}

.navigation__item:first-child:before {
	left: 14px;
}

.navigation__item:last-child {
	padding-right: 20px;
}

// hover/active styles
.navigation__item.active,
.navigation__item:hover,
.navigation__item.active:after,
.navigation__item:hover:after {
	background: $m_hover;
}

// current styles
.navigation__item.current,
.navigation__item.current:after,
.navigation__item.current .navigation__link {
	background: $c_active;
	color: $c_header;
}

// стрелки для элементов меню
.navigation__item:after {
	content: '';
	position: absolute;
	top: 0;
	right: -$m_height/2;
	width: $m_height;
	height: $m_height;
	transform: scale(0.707) rotate(45deg);
	// выдвинем стрелку, чтобы следующий линк не налезал на неё
	z-index: 1;
	background: $bg_nav;
	transition: all 0.3s;
	box-shadow: 1px -1px 0 0px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
	// 6px - закруглённый уголок
	// 50px - чтобы избежать артефактов от теней при ховере
	border-radius: 0 6px 0 50px;
}

// для последнего пункта меню стрелка не нужна
.navigation__item:last-child:after {
	// content: none;
}

// main menu, navigation styles end
