// стили для блока кнопок соцсетей start

.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle
}

// scale, применяется в top-header
$scale: 0.6;
.social_scale {
	-webkit-transform: scale($scale);
			-ms-transform: scale($scale);
					transform: scale($scale);
// scale уменьшает по центру, поэтому задаём отступ вручную
	margin-left: -30px;
}

.social__item {
	display: inline-block;
	max-width: 100%;
}

.social__link {
	background-image: url(../img/social.png);
	background-repeat: no-repeat;
	display: block;
	width: 44px;
	height: 44px;
	text-indent: -9999px;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}

.social__link_fb {
	background-position: -5px -5px;
}

.social__link_tw {
	background-position: -59px -5px;
}

.social__link_vk {
	background-position: -113px -5px;
}

// стили для блока кнопок соцсетей start
