.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  // width: 200px;
  display: table-cell;
  vertical-align: middle
}

// scale применяется для top-header
.social_scale {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
}

.social__item {
  display: inline-block;
  max-width: 100%;
}

.social__link {
  background-image: url(../img/social.png);
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
}

.social__link_fb {
  background-position: -5px -5px;
}

.social__link_tw {
  background-position: -59px -5px;
}

.social__link_vk {
  background-position: -113px -5px;
}
