// top-header styles start

// высота топ-хидера
$header-top-height: 41px;

.header-top {
	position: relative;
	height: $header-top-height;
	background: $bg_tophead;
	color: $c_header;
	.container {
		min-height: $header-top-height;
		text-align: center;
	}
}

.header-top__phone {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 8px;
}

.header__socials {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0;
	padding: 0;
}

.addr__text {
	display: inline-block;
	line-height: 1.5;
	text-align: center;
	vertical-align: top;
	margin-top: 8px;

	&:before {
		background: url(../img/map-point.png) no-repeat;
		width: 16px;
		height: 22px;
		content: "";
		display: block;
		float: left;
		padding-right: 6px;
	}
}

.phone__link {
	text-decoration: none;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}

.phone__kod {
	color: $c_active;
	vertical-align: super;
}

.phone__num {
	font-size: 1.6em;
	color: white;
	&:before {
		content: ' ';
	}
}

// top-header styles start
