/* Colors Guide */
$bg_tophead: #46636f; /* top-header bg */
$c_text: #5c7b98; /* text */
$c_header: #fff; /* header */
$bg_header: #e8eef5; /* header bg */
$bg_nav: #f7f7f7; /* nav bg */
$c_link: #00b9fe; /* link, nav active bg, title */
$c_active: #00b9fe; /* link, nav active bg, title */
$bg_even: #eef2f4; /* odd rows in spec bg */
$bg_footer: #613993; /* footer bg */
$m_hover: #dce6f0; /* menu hover bg */

/* Blocks Guide */
$footer-height: 226px;

@import "_social.scss";
@import "_top-header.scss";
@import "_main-header.scss";
@import "_navigation.scss";
@import "_breadcrumbs.scss";
@import "_content.scss";
@import "_bxslider.scss";
@import "_footer.scss";

// clearfix extend
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// common styles
html {
	height: 100%;
}

body {
	height: 100%;
	font-family: ElektraLightPro;
	color: $c_text;
}

a {
	color: $c_link;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

.container {
	max-width: 1001px;
	position: relative;
	margin: 0 auto;
}

// стили кнопки скролла наверх start
.scrolltotop {
	background: $c_active;
	text-align: center;
	padding: 10px 20px;
	position: fixed;
	bottom: 250px;
	right: 50px;
	cursor: pointer;
	display: none;
	color: $c_header;
	font-weight: bold;
	z-index: 999;
	&:before {
		content: '';
		position: absolute;
		top: -6px;
		right: 40px;
		width: 0;
		height: 0;
		border-bottom: 8px solid $c_active;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
	&:after {
		content: '';
		position: absolute;
		top: 32px;
		right: 40px;
		width: 0;
		height: 0;
		border-bottom: 8px solid white;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
	}
}
// стили кнопки скролла наверх end