/* Colors Guide */
$c_text: #46636f; /* text, top-header bg */
$c_header: #fff; /* header */
$bg_header: #e8eef5; /* header bg */
$bg_nav: #f7f7f7; /* nav bg */
$c_link: #00b9fe; /* link, nav active bg, title */
$c_active: #00b9fe; /* link, nav active bg, title */
$bg_odd: #eef2f4; /* odd rows in spec bg */
$bg_footer: #613993; /* footer bg */

/* Blocks Guide */
$top-header-height: 38px;
$footer-height: 226px;

html {
	height: 100%;
}
body {
	height: 100%;
	font-family: ElektraLightPro;
}
.ch {
	border: 2px solid red;
	background: #0dd;
}
.container {
	max-width: 1001px;
	position: relative;
	margin: 0 auto;
}
.content {
}
.header {
}

@import "_social.scss"; // кнопки соцсетей
@import "_top-header.scss";
@import "_main-header.scss";
@import "_footer.scss";


.main-header {
	height: 100px;
	background: $bg_header;
}
.logo {}
.search {}
.menu {}
.nav {}


/* ==========================================================================
	 Micro clearfix hack by Nicolas Gallagher
	 ========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
	*zoom: 1;
}
