/* Colors Guide */
$c_text: #46636f; /* text, top-header bg */
$c_header: #fff; /* header */
$bg_header: #e8eef5; /* header bg */
$bg_nav: #f7f7f7; /* nav bg */
$c_link: #00b9fe; /* link, nav active bg, title */
$c_active: #00b9fe; /* link, nav active bg, title */
$bg_odd: #eef2f4; /* odd rows in spec bg */
$bg_footer: #613993; /* footer bg */

/* Blocks Guide */
$top-header-height: 38px;


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: ElektraLightPro;
}
.ch {
	border: 2px solid red;
	background: #0dd;
}
.wrapper {}

.header {
}
.top-header {
	background: $c_text;
	color: $c_header;
}
.top-header-wrap {
	width: 1000px;
	// height: 38px;
	// line-height: $top-header-height;
	height: $top-header-height;
	margin: 0 auto;
	text-align: center;
	display: table;
}

@import "social.scss"; // кнопки соцсетей
@import "main-header.scss";

.phone {
	// float: right;
	color: $c_header;
	text-align: right;
	width: 300px;
		display: table-cell;
	vertical-align: middle;
}
.phone_kod {
	color: $c_active;
	vertical-align: super;
}
.phone_num {
	font-size: 1.6em;
}

// .top-header-wrap:before {
// 	content: '';
// 	display: inline-block;
// 	height: 100%;
// 	vertical-align: middle;
// }
.addr {
	// background: url(../img/map-point.png) no-repeat center;
	// padding-left: 20px;
	// line-height: 38px;
	display: table-cell;
	vertical-align: middle;
	// margin-top: 4px
}
.icon {
	background: url(../img/map-point.png) no-repeat center;

}

.main-header {
	height: 100px;
	background: $bg_header;
}
.logo {}
.search {}
.menu {}
.nav {}


/* ==========================================================================
	 Micro clearfix hack by Nicolas Gallagher
	 ========================================================================== */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.cf:after {
	clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
	*zoom: 1;
}
