block title
	title Tim Loft Shop

block address
	- var address = 'Санкт-Петербург, ул.Просвещения, 123, оф.29'

block menu
	- var menu = ['Мобильные телефоны', 'Планшеты', 'Ноутбуки', 'Компьютеры', 'Комплектующие', 'Мониторы', 'Аксессуары']


//- подключаем лейаут
extend ../layouts/shop_page3.jade
