@font-face {
    font-family: 'ElektraLightPro';
    src: url('elektra-light-pro-opentype-webfont.eot');
    src: url('elektra-light-pro-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('elektra-light-pro-opentype-webfont.woff2') format('woff2'),
         url('elektra-light-pro-opentype-webfont.woff') format('woff'),
         url('elektra-light-pro-opentype-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ElektraLightPro';
    src: url('elektra-light-pro-bold-opentype-webfont.eot');
    src: url('elektra-light-pro-bold-opentype-webfont.eot?#iefix') format('embedded-opentype'),
         url('elektra-light-pro-bold-opentype-webfont.woff2') format('woff2'),
         url('elektra-light-pro-bold-opentype-webfont.woff') format('woff'),
         url('elektra-light-pro-bold-opentype-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}