doctype html
html(lang='ru-RU')
include config.jade
include ../common/head.jade
include ../common/social.jade
body
	.wrapper
		.header
			include ../common/top-header.jade
			include ../common/main-header.jade
			include ../common/navigation.jade

		.container
			.content
				include ../common/breadcrumbs.jade


				.prod
					.prod__photo
						img.prod__photo-img(src="http://lorempixel.com/300/250/abstract/")
					.prod__desc
						h1.prod-desc__title
						ul.prod-desc__table
							each item in ['1','2','3','4','5','6','7','8']
								li.navigation__item= item


				.about
					h2.about__title Пара слов о магазине
					.about__text
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis beatae delectus, voluptates iste. Architecto eveniet quia quam magni aperiam ducimus dolorum, sequi aut temporibus corporis mollitia rerum in, doloribus unde doloremque odit expedita, eum. Placeat nihil atque itaque, sit veniam iure sapiente maxime saepe eligendi dignissimos. Commodi debitis quod magnam quis similique culpa, quisquam asperiores incidunt esse voluptatibus voluptate aut assumenda numquam enim, sint facilis temporibus quia fuga inventore. Nemo excepturi repellendus, tempora iure dolorum, ipsa sed vero tenetur commodi quidem distinctio, at vel adipisci quod iusto officiis reprehenderit labore! Illum tenetur, similique dolores iste nemo sequi cum repellendus error voluptate. Voluptatem consequuntur cumque, odio earum minima esse. Aliquid esse voluptate suscipit consequatur consequuntur dolorem dolorum provident, temporibus. A ut obcaecati distinctio similique voluptates quam harum ad quae delectus sint. Pariatur quas voluptatum dolorum, veniam sit culpa maiores quos perferendis, nisi ad vel voluptas repudiandae magni ipsum, tempora iste nulla accusamus quasi eveniet alias. Esse placeat, rem quas incidunt voluptatem ullam earum facilis suscipit accusantium, amet adipisci repudiandae quibusdam! Repudiandae laborum vitae eligendi minus. Quis commodi corporis officiis possimus perspiciatis iusto quaerat rerum ratione mollitia dolore impedit voluptas eius, suscipit delectus laborum quae ducimus velit molestias officia eaque harum porro!

		include ../common/footer.jade




	include ../common/fin.jade
