doctype html
html(lang='ru-RU')
include ../common/head.jade
body
	.header
		.top-header
			.social
			.addr
			.phone
		.main-header
			.logo
			.search
			.menu

	.nav

	.content
		.breadcrumbs
		.prod
			.prod-photo
			.prod-desc

		.about

	.footer
		.logo-footer
		.quicklinks
		.social-footer



	include ../common/fin.jade
