doctype html
html(lang='ru-RU')
include ../common/head.jade
include ../common/social.jade
body
	.wrapper
		.header
			include ../common/top-header.jade

			.main-header
				.main-header-wrap
					.logo logogo
					.search input-search
					.menu minimenu
			.nav navigation


	.container
		.content
			.breadcrumbs
			.prod
				.prod-photo
				.prod-desc

			.about

		.footer
			.logo-footer
			.quicklinks
			.social-footer



	include ../common/fin.jade
