//- дефолтные значения переменных
block address
	- var address = 'г. Городовск, пр.Уличный, д.2, оф.1'
block menu
	- var menu = ['Категория 1', 'Категория 2', 'Категория 3', 'Категория 4', 'Категория 5']

//- подключение миксинов
include ../common/_mixins.jade

doctype html
html(lang='ru-RU')
	include ../common/head.jade
	body
		+browserupgrade
		.wrapper
			//- блоки шапки
			include ../common/top-header.jade
			include ../common/main-header.jade

			//-  навигация с 4 активным элементом
			+nav('menu', menu, 4)

			//- основной контент
			.content
				.container
					include ../common/breadcrumbs.jade
					.prod
						.prod__photo
							//- галерея товара
							img.prod__photo_img(src="img/prods/prod1-0.jpg")
							.bxpager__pointer
								span#bxpager-prev.bxpager__pointer_prev
								span#bxpager-next.bxpager__pointer_next
							ul.bxslider
								//- imgQuantity - количество картинок товара
								- var imgQuantity = 6
								- var n = 0
								while n < imgQuantity
									li.bxslider__item
										a.bxslider__link(href="#")
											img.bxslider__img(src="img/prods/prod1-" + n++ + "th.png")

						//- блок описания товара
						.prod__desc
							h1.prod__title SSD Iwamoto 4Gb full abstract
							- var desc_rows = 0
							table.prod__spec
								tbody
									while desc_rows < 10
										tr.prod__spec_row
											td.prod__spec_cell= "Характеристика " + desc_rows
											td.prod__spec_cell= "Значение " + desc_rows++

					//- блок описания магазина
					.about
						h2.about__title Пара слов о магазине
						.about__text
							p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь.

					//- кнопка скролла наверх
					.scrolltotop Наверх

		include ../common/footer.jade

		//- подключение скриптов
		include ../common/fin.jade
