@charset "UTF-8";
.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle; }

.social_scale {
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  margin-left: -30px; }

.social__item {
  display: inline-block;
  max-width: 100%; }

.social__link {
  background-image: url(../img/social.png);
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  opacity: 0.7; }
  .social__link:hover {
    opacity: 1; }

.social__link_fb {
  background-position: -5px -5px; }

.social__link_tw {
  background-position: -59px -5px; }

.social__link_vk {
  background-position: -113px -5px; }

.header-top {
  position: relative;
  height: 41px;
  background: #46636f;
  color: #fff; }
  .header-top .container {
    min-height: 41px;
    text-align: center; }

.header-top__phone {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px; }

.header__socials {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  padding: 0; }

.addr__text {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  vertical-align: top;
  margin-top: 8px; }
  .addr__text:before {
    background: url(../img/map-point.png) no-repeat;
    width: 16px;
    height: 22px;
    content: "";
    display: block;
    float: left;
    padding-right: 6px; }

.phone__link {
  text-decoration: none; }

.phone__kod {
  color: #00b9fe;
  vertical-align: super; }

.phone__num {
  font-size: 1.6em;
  color: white; }
  .phone__num:before {
    content: ' '; }

.header {
  height: 100px;
  min-height: 100px;
  background: #e8eef5; }

.header__logo {
  float: left;
  width: 200px;
  position: relative;
  top: 25px; }

.header__logo_text {
  text-indent: -9999px;
  font-size: 0; }

.header__logo_img {
  max-width: 197px;
  max-height: 57px; }

.header__search {
  float: left;
  position: relative;
  top: 28px;
  padding: 0 15px; }

.search__form_input {
  width: 260px;
  padding: 10px;
  border: 1px solid #00b9fe;
  color: #00b9fe; }

::-webkit-input-placeholder {
  color: #00b9fe; }

::-moz-placeholder {
  color: #00b9fe; }

:-moz-placeholder {
  color: #00b9fe; }

:-ms-input-placeholder {
  color: #00b9fe; }

.search__form_btn {
  width: 80px;
  background: #00b9fe;
  position: relative;
  padding: 11px;
  margin: 0;
  margin-left: -5px;
  color: #FFF;
  text-decoration: none;
  outline: none;
  appearance: none;
  box-shadow: none;
  border: none; }

.header__links {
  float: left;
  position: relative;
  top: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .95em; }

.header__links_item {
  display: inline-block;
  padding: 0 8px; }

.header__basket {
  float: right;
  position: relative;
  top: 24px;
  padding: 15px 15px 15px 10px; }
  .header__basket:hover {
    background: white; }

.header__basket_link {
  font-size: .95em; }
  .header__basket_link:before {
    background: url(../img/basket.png) no-repeat;
    width: 20px;
    height: 17px;
    content: "";
    display: block;
    float: left;
    padding-right: 6px; }

.basket {
  display: none; }

.basket__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
  left: -112px;
  width: 244px;
  height: auto;
  border: 1px solid #dce6f0; }

.basket__item {
  display: block;
  position: relative;
  z-index: 9;
  border-top: 1px solid #dce6f0;
  padding: 10px;
  overflow: hidden;
  background: white; }
  .basket__item:first-child {
    border-top: none; }

.basket__link {
  color: #7C7C7C;
  display: block;
  padding: 5px;
  color: #00b9fe; }

.basket__img {
  float: left;
  max-width: 50px;
  margin-right: 10px;
  vertical-align: middle; }

.basket__text {
  padding-top: 8px; }

.menu {
  background: #f7f7f7; }

.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 10px; }

.menu__link {
  color: #5c7b98;
  text-decoration: none;
  line-height: 40px;
  display: inline-block;
  padding: 0 8px; }
  .menu__link:hover {
    background: #dce6f0; }
    .menu__link:hover:before {
      background: url(../img/menuarrow-hover-end.png) no-repeat;
      content: "";
      height: 40px;
      width: 15px;
      position: absolute;
      top: 0;
      left: -10px; }
    .menu__link:hover:after {
      background: url(../img/menuarrow-hover-start.png) no-repeat;
      content: "";
      height: 40px;
      width: 15px;
      position: absolute;
      top: 0;
      right: -3px; }

.menu__item {
  display: table-cell;
  padding-right: 10px;
  padding-left: 5px;
  position: relative; }
  .menu__item:after {
    background: url(../img/menuarrow.png) no-repeat;
    content: "";
    height: 40px;
    width: 15px;
    position: absolute;
    top: 0; }
  .menu__item:first-child:before {
    background: url(../img/menuarrow.png) no-repeat;
    content: "";
    height: 40px;
    width: 15px;
    position: absolute;
    top: 0;
    left: -10px; }

.current {
  background: #00b9fe;
  color: #fff; }
  .current:before,
  .current:hover:before {
    background: url(../img/menuarrow-current-end.png) no-repeat;
    content: "";
    height: 40px;
    width: 15px;
    position: absolute;
    top: 0;
    left: -10px; }
  .current:after,
  .current:hover:after {
    background: url(../img/menuarrow-current-start.png) no-repeat;
    content: "";
    height: 40px;
    width: 15px;
    position: absolute;
    top: 0;
    right: -3px; }
  .current:hover {
    background: #00b9fe; }

.breadcrumbs {
  padding: 20px 0; }

.breadcrumbs__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.breadcrumbs__item {
  display: inline-block; }
  .breadcrumbs__item:after {
    content: ' >';
    font-size: smaller; }
  .breadcrumbs__item:last-child:after {
    content: ''; }

.breadcrumbs__link {
  display: inline-block; }

.prod__title {
  font-size: 2em;
  color: #00b9fe;
  margin: 0;
  padding: 0 0 15px 0; }

.prod__spec {
  border-collapse: collapse;
  width: 80%; }

.prod__spec_cell {
  width: 40%;
  padding: 5px; }

.prod__spec_cell-bold {
  width: 60%;
  padding: 5px;
  font-weight: 700; }

.prod__spec_row:nth-child(even) {
  background: #eef2f4; }

.odd {
  background: #eef2f4; }

.prod__desc {
  float: right;
  width: 640px; }

.about__title {
  margin-bottom: 0; }

.about__text {
  text-align: justify;
  padding-bottom: 40px; }

.about__text p {
  padding: 0 15px; }

.about__text .first p {
  padding-left: 0; }

.about__text .last p {
  padding-right: 0; }

.prod__photo {
  float: left;
  width: 300px;
  text-align: center;
  padding: 30px 10px;
  width: 320px;
  height: 240px; }

.bx-wrapper {
  margin: 0 auto 30px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

.bxslider__link {
  display: block; }
  .bxslider__link:hover {
    border: 1px solid #00b9fe; }

.bxpager {
  padding: 0 30px; }

.bxpager__img {
  border: 1px solid transparent; }
  .bxpager__img:hover,
  .bxpager__img:active {
    border: 1px solid #00b9fe; }

.bxpager__pointer {
  position: relative; }

.bxpager__pointer_prev,
.bxpager__pointer_next {
  opacity: 0.6; }
  .bxpager__pointer_prev:hover,
  .bxpager__pointer_next:hover {
    opacity: 1; }

.bx-next {
  background: #00b9fe;
  text-align: center;
  padding: 7px 0 7px 5px;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  .bx-next:after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid #00b9fe;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; }

.bx-prev {
  background: #00b9fe;
  text-align: center;
  padding: 7px 6px 7px 0;
  position: absolute;
  top: 10px;
  left: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }
  .bx-prev:after {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 0;
    height: 0;
    border-right: 8px solid #00b9fe;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent; }

/*прибитый футер */
.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  min-width: 1010px; }
  .wrapper:after {
    content: "";
    height: 226px;
    display: block; }

.footer {
  background: #613993 url(../img/footer-bg.png) repeat;
  height: 226px;
  margin-top: -226px;
  min-width: 1000px;
  position: relative;
  clear: both;
  color: #fff;
  font-size: 0.8em; }

/*прибитый футер end */
.footer__row {
  padding-top: 30px; }

.footer__logo {
  float: left;
  width: 240px; }

.footer__logo_img {
  padding-top: 40px; }

.footer__logo_text {
  text-indent: -9999px;
  font-size: 0; }

.footer-nav {
  float: left;
  width: 520px; }

.footer-nav__menu {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding-right: 10px; }

.footer-nav__title {
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px; }

.footer-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.4; }

.footer-nav__item {
  padding-bottom: 5px; }

.footer-nav__link {
  color: #fff;
  text-decoration: underline; }

.footer__socials {
  float: right;
  width: 240px; }

.footer__apps-link {
  display: block;
  opacity: 0.7; }
  .footer__apps-link:hover {
    opacity: 1; }

.footer__apps {
  padding-left: 3px;
  display: inline-block; }

.prod:after, .footer__row:after, .footer-nav:after {
  content: "";
  display: table;
  clear: both; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: ElektraLightPro;
  color: #5c7b98; }

a {
  color: #00b9fe; }
  a:hover,
  a:active {
    text-decoration: none; }

.container {
  max-width: 1001px;
  position: relative;
  margin: 0 auto; }

.scrolltotop {
  background: #00b9fe;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 250px;
  right: 50px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-weight: bold;
  z-index: 999; }
  .scrolltotop:before {
    content: '';
    position: absolute;
    top: -6px;
    right: 40px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #00b9fe;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
  .scrolltotop:after {
    content: '';
    position: absolute;
    top: 32px;
    right: 40px;
    width: 0;
    height: 0;
    border-bottom: 8px solid white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
